
<mat-toolbar style="background-color: rgb(175, 236, 237)">
    <div>
      
      <a class="navbar-head" style= "font-size:25px; font-weight:bold;" href="#">
        Ecommerce
      </a>
    </div>
  
    <span class="gap"></span>
    <div class="navbar">
      <span style="font-weight: bold">
        <div class="nav-s" >
        <a class="nav-link"  routerLink="/products" routerLinkActive="active"  href="#">
         Products</a
        ></div>
      </span>
      <span style=" font-weight: bold ">
        <div class="nav-s">
        <a class="nav-link" style="color:purple;" routerLink="/product-details/1" href="#"
          >Product-details</a
        ></div></span>
        
      
    </div>
  </mat-toolbar>