
<mat-toolbar style="background-color: rgb(71, 146, 156)">
          <div>
           
            <a class="navbar-brand" style="font-weight: 1000; font-size: 30px;padding-left: 2rem;" href="#"
              >Ecommerce
            </a>
          </div>
        
          <span class="gap"></span>
          <div class="navbar">
            
            <span style="font-weight: bold;font-size: 20px; padding-bottom:2rem;"
              ><a class="nav-link" routerLink="/products" routerLinkActive="active"
                >Products</a
              ></span
            >
            
            <span>
              <mat-icon><a class="nav-link" style="color:rgb(201, 60, 83);" href="#">favorite</a></mat-icon></span
            >
            <span
              ><mat-icon><a class="nav-link" style="color:rgb(201, 60, 83)" href="#">share</a></mat-icon></span
            >
              
            
          </div>
        </mat-toolbar>
   
