  .navbar-head{
    justify-content: center;
    color: #000;
    padding-left: 10rem;
  }
  
  body {
    font-family:sans-serif;
    color: black;
  }
  span {
    padding-left: 1rem;
  }
  .nav-s{
    justify-content: center;
    padding-top: 2rem;
    
    padding-right: 10rem;
  }
  
  
  .navbar-text a.active {
    color:rgb(143, 24, 24);
  }
  
  
  .gap {
    flex: 1 1 auto;
  }
    
  .navbar {
    justify-content: space-between;
    
    
    }
  
  