
    .f-center{
      display: flex;
      justify-content: center;
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      .example-full-width{
        width:100%;
      }
      button{background-color: rgb(18, 7, 82);
        
        font-size:20px;
        font-weight: 150;
        color:rgb(161, 67, 67);
        }
        
        button:hover{
          background-color: black;
          color:rgb(93, 163, 167);
        }
    
